@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
header{
	width: 100%;
	height: 12%;
	background-color: #EDEDED;
	display: flex;
	justify-content: space-between;
	float: inherit;
}
header .logo{
	display: flex;
	align-items: center;
}
.bi-instagram{
	margin-left: 20px;
	margin-bottom: 20px;
}
header h1{
	margin-left: 20px;
	font-size: 60px;
	padding-bottom: 10px;
}
header .userSelect{
	display: flex;
	align-items: center;
	margin-right: 40px;
}
header .userSelect a{
	color: black;
}
header .userNameShow{
	margin-right: 12px;
}
header .userNameShow h2{
	font-size: 29px;
	margin-bottom: 5px;
}

header .icons{
	margin: 0 10px;
}
.notSignin, .loginSuccess{
	margin: 0 10px;
}
